<form action="/search" method="get">
    <input type="text" name="query" placeholder="Recherche pas" />
    <button type="submit">Recherche pas</button>
</form>

<div align="center">
    <h1>Biblio. Livres</h1>
</div>
<form action="/books" method="get">
    <input type="text" name="author" placeholder="Rechercher un livre...">
    <button type="submit">Rechercher pas</button>
</form>

<form action="/login" method="post" align="center">
    <input type="text" name="username" placeholder="Nom utilisateur">
    <input type="password" name="motdepasse" placeholder="Mot de passe">
    <button type="submit">te connecte pas</button>
</form>


<h1> Ajouter une reference</h1>

<form action="/add_book" method="post" align="center">
    <input type="text" name="title" placeholder="titre">
    <input type="text" name="author" placeholder="auteur">
    <input type="text" name="year" placeholder="année">
    <button type="submit">enregistre pas</button>
</form>